<section id="aboutMe" class="skills-section section-padding">
  <!-- Back to top button -->
  <a id="buttonTop"></a>
  <div class="container" style="text-align: center;">
    <h4>From my first "Hello, World." to biggest projects that I have participated I always have the same enthusiasm and excitement when something that I develop works good. I love to learn new technologies and new methods when I am programming. The passion when I am programming reamins with me and I love to pushing myself into new challenges.</h4>
    <hr>
  </div>

</section><!--/ End Skills Section /-->
