<!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">NUESTRA GRAN HISTORIA</h2>
                    <h3 class="section-subheading text-muted">Mi amor en este regalito solo quería recordarte de cosas importantes que recuerdo mucho.</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>04/01/2020</h4>
                                <h4 class="subheading">Algo que empezó solo por calentura</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">El día que yo con un chuchaqui super fuerte te escribí después de que me comentaste en FB. Y tus palabras fueron <b>Aqui te quito el Chuchaqui</b></p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>05/01/2020</h4>
                                <h4 class="subheading">YO Y MIS FARRAS.... jeje</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Luego de haber hecho cositas contigo ese mismo día tenía otra farra y te invite al KIKA y viniste y después fue la primera vez que te quedaste a dormir en mi cas y bueno empezamos a salir mucho los dos... como me habías conocido que algo de mucha farra y esas cosas. Algo que nunca te conte que cuando aceptaste ir al KIKA conmigo me emocione mucho.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>06/01/2020 .....</h4>
                                <h4 class="subheading">Empezamos a conocernos más</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Emepezamos a escribirnos más, conocernos más y fue cuando en realidad estaba dispuesto a darte una oportunidad porque en realidad yo solo te veía como algo sexual y una persona poco confiable. Pero empezamos a conocernos y me empecé a enamorar mucho de ti porque siempre tuvimos muy buena química y el momento clave creo que fue cuando fuimos a la Carolina el <b> 19 de Enero </b> porque ahí me di cuenta de como en realidad eras.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>01/02/2020</h4>
                                <h4 class="subheading">Primer VIAJESITO INTERPROVINCIAL</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Y bueno los dos decidimos despejarnos un momentos de Quito y viajar a Latacunga juntitos y también en este viaje me di cuenta que si me gustaría tener algo serio contigo.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/5.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>14/02/2020 .....</h4>
                                <h4 class="subheading">Le pusimos nombre a algo que ya estabamos viviendo</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Te conocí mucho por las preguntitas que hiciste y le pudimos dar nombre a lo que los dos sentiamos el uno por el otro. Hasta ahora me acuerdo el momento que abrí la cajita.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/6.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>24/02/2020</h4>
                                <h4 class="subheading">Feriado en mi casita</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Este momento fue de mucha initimidad, aprendí a escucharte más y a entenderte más. Fue muy lindo hacer locuras contigo y hacernos mascarillas.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/7.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>14/03/2020 .....</h4>
                                <h4 class="subheading">El grado de mi amado</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Verte con el gorrito, enternado y guapo me lleno mucho el corazón. Tambíen conocí a tu mami. Me siento muy orgulloso de ti y este fin de semana fue el último en el que ibamos a pasar juntos antes de la pandemia. </p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/8.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>19/03/2020</h4>
                                <h4 class="subheading">COVID-19</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Bueno está fecha no es tanto de los dos, sino más sobre mi cuando empezó todo este proceso que me dio CORONAVIRUS. Pero siempre estuviste apoyandome y te agradezco mycho por eso.</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/9.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>03/04/2020 .....</h4>
                                <h4 class="subheading">Amor en tiempos de cuarentena</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Al verte con el cartelito y la bicicleta me hizo llorar de verdad. Me sentí tan afortunado pero también extrañarte mucho y querer ver Cirque Du soleil a tu lado hehe.</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Está<br />Historia<br />Continuará!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
