<!-- About-->
<div class="row">
<div class="col-md-12">

  <div id="edu" class="resume-title wow">
    <h2 class="text-center text-primary">Education</h2>
  </div>

  <div class="resume">
    <ul class="timeline">

      <li class="">
        <div class="posted-date">
          <span class="month">2003 - 2004</span>
        </div><!--/ /posted-date /-->

        <div id="edu-01" class="panel panel-success timeline-panel wow" data-wow-duration="1.5s">
          <div class="timeline-content">

            <div class="panel-heading timeline-heading row">
              <div class="col-md-10 col-xs-9 pull-left">
                <h3 class="panel-title">Master's degree</h3>
                <span class="text-danger"> - diploma with honors</span>
              </div>

              <div class="col-md-2 col-xs-3 pull-right text-center">
                <i class="fas fa-3x fa-user-graduate text-success"></i>
              </div>
            </div>

            <div class="panel-body timeline-body">
              <p>
                Electromechanical Engineering<br />
                Kremenchuk State Polytechnical University, Ukraine<br />
                <strong>7.091003</strong> - Design Engineer of Electronic Equipment
              </p>
              <p>Awarded an honorary diploma for the <strong class="text-info">2nd place</strong> in the competition for the best thesis project</p>
            </div>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="posted-date">
          <span class="month">1999 - 2003</span>
        </div>

        <div id="edu-02" class="panel panel-success timeline-panel wow" data-wow-duration="1.5s">
          <div class="timeline-content">

            <div class="panel-heading timeline-heading row">
              <div class="col-md-10 col-xs-9 pull-left">
                <h3 class="panel-title pane">Bachelor's degree</h3>
                <span class="text-primary"> - graduate diploma</span>
              </div>

              <div class="col-md-2 col-xs-3 pull-right text-center">
                <i class="fas fa-3x fa-graduation-cap text-success"></i>
              </div>
            </div>

            <div class="panel-body timeline-body">
              <p>
                Electromechanical Engineering<br />
                Kremenchuk State Polytechnical University, Ukraine<br />
                <strong>7.091003</strong> - Design Engineer of Electronic Equipment
              </p>
            </div><!--/ /timeline-body /-->
          </div><!--/ /timeline-content /-->
        </div><!--/ /timeline-panel /-->
      </li><!--/ /timeline /-->

    </ul>
  </div>

</div>
</div><!--/ /row /-->
