<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title"> Chethan R</span>
        <span class="site-description">At student at  DSU</span>
      </h1>
      <div class="header-iconHeaders">
        <a aria-label="Send email" href="mailto:chethanrraj90@gmail.com"><i class="iconHeader fa fa-envelope"></i></a>
        <!--<a aria-label="My Instagram" target="_blank" href="https://instagram.com/_._chethan.25_._?igshid=1i9exlswyw0an"><i class="iconHeader fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/chethanrraj90"><i class="iconHeader fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://https://www.linkedin.com/in/chethan-r-439325192"><i class="iconHeader fa fa-linkedin-square" aria-hidden="true"></i></a>
      </div>

  </div>
  <a class="down" href="#aboutMe" data-scroll><i class="iconHeader fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
