<div class="container">
  <h1>EXPERIENCE</h1>
</div>
<section id="jobs-class" style="padding-top: 20px;">
 
<div class="container">
  <div class="row">
    <div class="col">
      <div class="main-timeline">
        <div class="timeline wow slideInRight" data-wow-duration="1.2">
          <a href="#" onclick="return false;" class="timeline-content">
            <span class="timeline-year wow slideInRight" data-wow-duration="1.2">2020</span>
            <div class="timeline-icon">
              <i class="fa fa-terminal" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title wow slideInRight" data-wow-duration="1.3">Software Developer - BomiGroup</h3>
              <p class="description">
                Part of the Dev Team for the migration from a Desktop application to a WebApp on 2019 and a new  project about a TMS WebApp for Colombia on 2020.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline wow slideInLeft" data-wow-duration="1.2">
          <a href="#" onclick="return false;" class="timeline-content">
            <span class="timeline-year wow slideInLeft" data-wow-duration="1.2">2018</span>
            <div class="timeline-icon">
              <i class="fa fa-file-code-o" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title wow slideInLeft" data-wow-duration="1.3">Implementation and Development Analyst - SNGP</h3>
              <p class="description">
                Part of the TI Direction where I developed Directory System of Political Actors and the National Volunteer System (volunteer registration). Implementation and administration of the HelpDesk system (GLPI). Transfer of the SIGAP and SISOLP Systems and the presidency portal.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline wow slideInRight" data-wow-duration="1.2">
          <a href="#" onclick="return false;" class="timeline-content">
            <span class="timeline-year wow slideInRight" data-wow-duration="1.2">2017</span>
            <div class="timeline-icon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Developer of TI - SNGP</h3>
              <p class="description">
                Debugging and correction of Human Talent System. Perimeter Firewall Administration (SOPHOS).Pichincha Administrator of the Governance System. Creation and administration of MVs (Ubuntu and CentOS).
              </p>
            </div>
          </a>
        </div>
        <div class="timeline wow slideInLeft" data-wow-duration="1.2">
          <a href="#" class="timeline-content">
            <span class="timeline-year wow slideInLeft" data-wow-duration="1.2">2017</span>
            <div class="timeline-icon">
              <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Dataradio S.A. - Engineering unit</h3>
              <p class="description">
                Calibration of antennas of different types, placement of links using antennas. Development of software for the technical monitoring of EMASEO garbage
                collectors, development of software for the management of engineering studies for the exploitation of the communal radio spectrum.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline wow slideInRight" data-wow-duration="1.2">
          <a href="#" class="timeline-content">
            <span class="timeline-year wow slideInRight" data-wow-duration="1.2">2016</span>
            <div class="timeline-icon">
              <i class="fa fa-code" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">IMCOMPERO - Software Developer</h3>
              <p class="description">
                Software Developing of some web pages and manage of some databases.     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </p>
            </div>
          </a>
        </div>
        <!--<div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">2017</span>
            <div class="timeline-icon">
              <i class="fa fa-apple" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Laravel</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="timeline-year">2017</span>
            <div class="timeline-icon">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </div>
            <div class="content">
              <h3 class="title">Creapure</h3>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
              </p>
            </div>
          </a>
        </div>-->
      </div>
    </div>
  </div>
</div>
</section>
