<section id="emotional">
  <div class="container">
    <div class="row" style="text-align: center;">
      <div class="col-md-3 percent">
        <div id="fluid-meter-creativity"></div>
        <h3 class="title">Creativity</h3>
      </div>
      <div class="col-md-3 percent">
        <div id="fluid-meter-responsability"></div>
        <h3 class="title">Responsability</h3>
      </div>
      <div class="col-md-3 percent">
        <div id="fluid-meter-3"></div>
        <h3 class="title">Problem Solving</h3>
      </div>
      <div class="col-md-3 percent">
        <div id="fluid-meter-4"></div>
        <h3 class="title">Communication</h3>
      </div>
    </div>
  </div>
</section>
